.flexbox-container {
    background-color: white;
    max-width: 1000px;
    min-width: 250px;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox {
    width: 290px;
    height: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox img {
    width: 220px;
    margin-bottom: 20px;
}
