:root {
    --cor01: #5a7f78;
    --cor02: #e2e3d9;
}

body {
    background-color: var(--cor02);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor01);
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
    color: white;
    text-align: center;
    margin-top: 0;
}

nav#links img {
    width: 40px;
    margin-left: 15%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

nav#links img:hover {
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(-20px, -20px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform 1s;
}

.flexbox-container {
    background-color: white;
    max-width: 1000px;
    min-width: 250px;
    width: 
    
